.content {
    display: flex;
    padding-top: 100px;
    align-items: center;
}

.content-left {
    flex: 2;
}

.content-right {
    flex: 1;
}

.content-right img {
    object-fit: cover;
    width: 100%;
}

.content-title {
    font-size: 30px;
}

.content-ratings {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
    font-size: 13px;
}

.content-ratings div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.content-text {
    padding-top: 20px;
    width: 60%;
    font-size: 13px;
}

.content-description {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.content-description-item {
    display: flex;
    gap: 35px;
}

.content-description-item + .content-description-item {
    margin-top: 15px;
}

.content-description-item span:nth-child(1) {
    width: 15%;
}

@media screen and (max-width: 888px) {
    .content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .content-title {
        text-align: center;
        margin-top: 20px;
    }

    .content-ratings {
        margin: 0 auto;
        display: grid;
        grid-row-gap: 20px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }

    .content-ratings div {
        justify-content: center;
        font-size: 12px;
    }

    .content-text {
        margin: 0 auto;
        width: 70%;
    }

    .content-right img {
        border: 1px solid white;
        border-radius: 7px;
    }

    .content-description {
        gap: 2px;
        margin: 0 auto;
        width: 70%;
    }
    .content-description-item {
        flex-direction: column;
        gap: 2px;
        width: 100%;
    }

    .content-description-item span:nth-child(1) {
        width: 100%;
        font-size: 13px;
        color: #9d9595;
    }

    .content-description-item span:nth-child(2) {
        width: 100%;
        font-size: 14px;
    }


}

@media screen and (max-width: 500px) {
    .content-text {
        width: 90%;
    }

    .content-description {
        width: 90%;
    }

    .content-ratings {
        width: 90%;
    }
}

